<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stylesmile.chat.mapper.ChatGroupMemberMapper">
    <resultMap id="chatGroupMember" type="com.stylesmile.chat.entity.ChatGroupMember"/>

    <select id="getMembersByGroupId" resultMap="chatGroupMember">
        SELECT *
        FROM chat_group_member
        WHERE group_id = #{groupId}
    </select>
</mapper>
