<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stylesmile.chat.mapper.ChatOfflineMessageMapper">
    <resultMap id="chatOfflineMessage" type="com.stylesmile.chat.entity.ChatOfflineMessage"/>

    <select id="findByToUserId" resultMap="chatOfflineMessage">
        SELECT *
        FROM chat_offline_message
        WHERE to_user_id = #{toUserId}
        ORDER BY id ASC
    </select>

    <delete id="deleteByToUserId">
        DELETE FROM chat_offline_message WHERE to_user_id = #{toUserId}
    </delete>
</mapper>
